.page.theme_light {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --main-title-color: #FFC2E6;
    --decor-color: #353430;
    --accent-background-color: #FF8DCB;
    --accent-title-color: #353430;
    --list-title-color: #353430;
    --paragraph-text-color: #353430;
    --text-shadow-color: #FF0070;
    --link-text-color: #353430;
    --default-border-color: 1px solid #353430;
    --hover-border-color: 1px solid rgba(50, 49, 45, 0.40);
    --focus-border-link-text: 1px solid #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --main-title-color: #FFC2E6;
    --decor-color: #353430;
    --accent-background-color: #FF8DCB;
    --accent-title-color: #353430;
    --list-title-color: #353430;
    --paragraph-text-color: #353430;
    --text-shadow-color: #FF0070;
    --link-text-color: #353430;
    --default-border-color: 1px solid #353430;
    --hover-border-color: 1px solid rgba(50, 49, 45, 0.40);
    --focus-border-link-text: 1px solid #353430;
  }
}

.page.theme_light .aria-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page.theme_auto .aria-rec {
    display: none;
  }
}
