.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
}

.cover {
  position: relative;
  block-size: 100vh;
  inline-size: 100%;
  min-height: 668px;
  padding: var(--cover-padding);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
  width: 100%;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: var(--cover-padding);
  inset-inline-end: var(--cover-padding);
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-inline-start: var(--cover-padding);
  inset-block-end: var(--cover-padding);
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  width: 25px;
  height: 25px;
}

.aria-rec {
  position: absolute;
  color: var(--decor-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--paragraph-font-weight);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-self: end;
  margin-inline-end: 10px;
  inset-inline-end: var(--cover-padding);
  inset-block-start: var(--cover-padding);
}

.aria-rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: var(--decor-color);
  box-shadow: 0px 0px 4px 2px var(--text-shadow-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 14px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    inset-block-start: 0px;
  }
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  color: var(--list-title-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--paragraph-font-weight);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 2.5px 13px;
}

.header__theme-menu-button_active {
  outline: var(--default-border-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: var(--hover-border-color);
  transition: 0.3s;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: var(--default-border-color);
}

.cover__title {
  color: var(--main-title-color);
  font-family: var(--main-font);
  font-size: var(--mobile-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--title-font-weight);
  line-height: 82.5%;
}

@media (width >= 768px) {
  .cover__title {
    font-size: var(--desctop-font-size);
    margin-inline-start: -20px;
  }
}

.text-shadow {
  text-shadow: 2px 2px 0px var(--text-shadow-color);
}

.cover__title.text-shadow:nth-last-child(2) {
  text-shadow: 4px 4px 0px var(--text-shadow-color);
}

.header__section {
  justify-self: end;
  align-self: center;
}

@media (width >= 768px) {
  .header__section {
    justify-self: end;
    align-self: center;
  }
}

.heading {
  inline-size: 100%;
}

@media (width >= 768px) {
  .heading {
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .heading {
    max-width: 491px;
  }
}

.paragraph__title-decor {
  background-color: var(--accent-background-color);
  color: var(--accent-title-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--title-font-weight);
  line-height: var(--main-line-height);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

@media (width >= 768px) {
  .content {
    gap: 80px;
    padding: 60px 20px;
  }
}

.content-section {
  display: grid;
  gap: var(--article-gap);
}

.list__title {
  color: var(--list-title-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--title-font-weight);
  line-height: var(--main-line-height);
}

.content__paragraph-list {
  display: grid;
  gap: var(--article-gap);
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: var(--title-text-gap);
}

@media (width >= 768px) {
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .content__what-section .content__paragraph-list {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .content__what-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content__what-section .content__paragraph-list {
    grid-column: span 3;
  }

  .content__what-section .content__article {
    grid-row: 1/3;
  }
}

.any-text {
  color: var(--paragraph-text-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--main-line-height);
}

.link {
  position: relative;
  display: inline-block;
  color: var(--link-text-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--paragraph-font-weight);
  text-decoration: none;
  width: fit-content;
}

.link:hover {
  border-block-end: var(--focus-border-link-text);
  outline-offset: 2px;
  transition: 0.3s;
}

.link:focus {
  outline: var(--focus-border-link-text);
}

.paragraph__no__title-decor {
  background-color: var(--accent-background-color);
  color: var(--accent-title-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-style: var(--main-font-style);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--main-line-height);
}

.content__images-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  inline-size: 100%;
}

@media (width >= 768px) {
  .content__images-section {
    gap: 20px;
  }
}

.image-heading {
  inline-size: 100%;
}

.content__images-list {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .content__images-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__images-item:nth-child(1) {
    grid-column: 1/3;
  }

  .content__images-item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .content__images-item:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .content__images-item:last-child {
    grid-column: 2/4;
  }
}

.about-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
